@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
body {
  background-color: white;
}
body .App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Navbar {
  width: 100%;
  box-shadow: 0px 0.5px 0px 0px #a5a5a5;
  background-color: white;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.Navbar .TitleNav {
  margin-left: 3%;
  width: 45%;
}
.Navbar .TitleNav h3 {
  font-family: "Itim", cursive;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.74);
}
.Navbar .modeButton {
  margin-right: 3%;
  width: 15%;
}
.Navbar .modeButton button {
  border-radius: 3px;
  border: none;
  background-color: #ffe0e0;
  width: 80%;
  color: black;
  font-size: 15px;
  font-family: "Itim", cursive;
}
.Navbar .modeButton button:hover {
  transition: 0.5s ease;
  background-color: #eb6681;
}

.Home {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
.Home .Filter {
  display: flex;
  width: 100%;
  box-shadow: 0px 0.5px 0px 0px #a5a5a5;
  background-color: white;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.Home .Filter .FilterSearch {
  display: flex;
  width: 60%;
  margin-left: 3%;
  border: none;
}
.Home .Filter .FilterSearch input {
  border: none;
  width: 40%;
  font-family: "Itim", cursive;
  font-size: 100%;
}
.Home .Filter .FilterSearch input:focus {
  transition: 0.5s ease;
  outline: none;
  background-color: #ffe0e0;
  border-radius: 3px;
}
.Home .Filter .FilterSearch button {
  background-color: transparent;
  border: none;
  margin-right: 2%;
}
.Home .Filter .FilterByOthers {
  width: 20%;
  margin-right: 3%;
}
.Home .Filter .FilterByOthers select {
  width: 100%;
  border: none;
  box-shadow: 0px 0.5px 0px 0px #a5a5a5;
  background-color: transparent;
  font-family: "Itim", cursive;
  font-size: 15px;
}
.Home .Filter .FilterByOthers select:focus {
  transition: 0.5s ease;
  outline: none;
}
.Home .ListCountries {
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Home .ListCountries .CountryCard {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  width: 250px;
  background-color: white;
  box-shadow: 0px 0.5px 0px 0px #a5a5a5;
  border-radius: 3px;
  height: 290px;
}
.Home .ListCountries .CountryCard .CardImg {
  width: 100%;
  height: 65%;
}
.Home .ListCountries .CountryCard .CardImg img {
  position: inherit;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.Home .ListCountries .CountryCard .ContentCard {
  width: 100%;
  height: 40%;
  margin: 3%;
}
.Home .ListCountries .CountryCard .ContentCard h4 {
  margin-top: 0;
  font-family: "Itim", cursive;
  font-size: 15px;
}
.Home .ListCountries .CountryCard .ContentCard .CardDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.Home .ListCountries .CountryCard .ContentCard .CardDescription p {
  margin: 0;
  font-family: "Itim", cursive;
  color: black span;
  color-font-family: "Itim", cursive;
  color-color: rgba(0, 0, 0, 0.795);
}

@media (max-width: 823px) {
  .Home .Filter {
    display: flex;
    height: 60px;
    align-items: flex-start;
    flex-direction: column;
  }
  .Home .Filter .FilterSearch {
    width: 100%;
    margin-left: 5px;
  }
  .Home .Filter .FilterSearch input {
    width: 60%;
  }
  .Home .Filter .FilterByOthers {
    width: 80%;
    margin-left: 40px;
  }
  .Home .Filter .FilterByOthers select {
    width: 180px;
  }
}

/*# sourceMappingURL=App.css.map */
